#root {
  width: 85%;
  margin: 0 auto;
}

.submit {
  background-color: #388800;
  color: #fff;
  display: inline-block;
  border: 1px solid #388800;
  border-radius: 4px;
  font-size: 16px;
  padding: 12px 15px;
  cursor: pointer;
  width: 110px;
  text-align: center;
}

.submit:hover {
	background-color: #296300;
    transition-duration: 0.3s;
}


/* Styling input text boxes to match portal look & feel */
#client, #prodid {
  color: #333;
  padding-left: 8px;
  height: 45px;
  margin-right: 15px;
}

