#root {
  width: 85%;
  margin: 0 auto;
}

.submit {
  background-color: #F19D44;
  color: #fff;
  display: inline-block;
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 1rem;
  font-size: 16px;
  padding: 3px 15px;
  cursor: pointer;
  width: 110px;
  text-align: center;
}

.submit:hover {
	background-color: #EE7E08;
    transition-duration: 0.3s;
}
