body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: rgb(245, 247, 248);
}

#displayableReviewsTitle {
  font-size: 30px;
  margin: 6rem 0 2rem 0;
  color: #444;
  border-top: 1px solid #d4d4d4;
  padding-top: 1.5rem;
}

.blue {
  background: #d9edf7;
  height: 5rem;
  transition: .3s ease-in-out;
  cursor: pointer;
}

.yellow {
  background: #fff2b1;
  height: 5rem;
  transition: .3s ease-in-out;
  cursor: pointer;
}

.red {
  background: #be3534;
  height: 5rem;
  transition: .3s ease-in-out;
  cursor: pointer;
}

.blue:hover {
  transform: scale(1.01);
}

table {
  padding-bottom: 35px;
}

.highlight {
  color: white;
}

/* Main styling for tables */

.tableMain {
  width: 100%;
  margin: 0 auto;
}

th, td {
  border-bottom: 1px solid #ddd;
  text-align: center;
  padding: 9px 0;
}

.tableHeader {
  font-weight: bold;
  font-size: 16px;
}

/* "Hits" are the rows in the tables */

.hits {
  font-size: 14px;
}

.pagination {
  padding: 0;
  float: right;
}

.active-page {
  display: inline-block;
  list-style: none;
  padding: .5rem;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
  background: #e5f3f7;
}

.page-button {
  display: inline-block;
  list-style: none;
  padding: .5rem;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
}

.page-button:hover {
  background: #e5f3f7;
}

.review-text-container {
  background: white;
  position: fixed;
  width: 1000px;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -500px;
}

.review-text {
  padding: 2rem;
  text-align: center;
}

.review-id {
  font-size: 1.8rem;
  text-align: center;
}

.close {
  margin-right: 1rem;
  font-size: 3rem;
}

.review-modal {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  height: 100%;
  background: grey;
  background-color: #0e0d0d61;
}
