body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: rgb(245, 247, 248);
}

a {
  color: #0084ab !important;
}

/*
h1, h2, h3, h4, h5, h6 {
	color: #33bca5;
	font-weight: bold;
}

h1 { font-size: 45px; margin-bottom: 35px; text-align: center; width: 100%; }
h2 { font-size: 35px; }*/

#displayableReviewsTitle {
  font-size: 30px;
  margin: 6rem 0 2rem 0;
  color: #444;
  border-top: 1px solid #d4d4d4;
  padding-top: 1.5rem;
}

.blue {
  background: #d9edf7;
  height: 5rem;
  ;
}

.yellow {
  background: #fff2b1;
  height: 5rem;
}

.red {
  background: #be3534;
  height: 5rem;
}

table {
  padding-bottom: 35px;
}

.highlight {
  color: white;
}

/* Main styling for tables */

.tableMain {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 60px;
}

th, td {
  border-bottom: 1px solid #ddd;
  text-align: center;
  padding: 9px 0;
}

.tableHeader {
  font-weight: bold;
  font-size: 16px;
}

/* "Hits" are the rows in the tables */

.hits {
  font-size: 14px;
}
