#displayableReviewsTitle {
  font-size: 30px;
  margin: 6rem 0 2rem 0;
  color: #444;
  padding-top: 0rem;
  margin-left: 1rem;
}

.blue {
  height: 5rem;
  transition: .3s ease-in-out;
  cursor: pointer;
  background-color: #f4f3f3;
  color: black;
  border-left: 10px solid #fcb150;
}

.white {
  height: 5rem;
  transition: .3s ease-in-out;
  cursor: pointer;
  background-color: #f4f3f3;
  color: black;
  border-left: 10px solid #65c8cf;
}

.yellow {
  background: #f4f3f3;
  height: 5rem;
  transition: .3s ease-in-out;
  cursor: pointer;
  color: black;
  border-left: 10px solid #247dd8
}

.label {
  display: none;
  position: absolute;
}

.red {
  background: #f4f3f3;
  height: 5rem;
  transition: .3s ease-in-out;
  cursor: pointer;
}

.black {
  background: #f4f3f3;
  height: 5rem;
  transition: .3s ease-in-out;
  cursor: pointer;
  color: black;
  border-left: 10px solid #65C8CF;
}

.black:hover, .yellow:hover, .red:hover, .blue:hover, .white:hover {
  background: #e6e6e6;
}

.review-title {
  margin-top: 1rem;
  margin-left: 1rem;
}

.review-id-container {
  background: #01b096;
  margin-top: 0;
  padding: 1rem;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  color: black;
}

.review-id {
  float: right;
  margin-right: 2rem;
}

.review-text-container ul {
  padding: 0;
  list-style: none;
}

.review-text-container li {
  display: inline-block;
  width: 33%;
  text-align: center;
  box-sizing: border-box;
}

.review-text-container img {
  display: block;
  margin: 0 auto;
  width: 110px;
}

table {
  padding-bottom: 35px;
}

.highlight {
  color: black;
}

/* Main styling for tables */

.tableMain {
  width: 100%;
  margin: 0 auto;
}

th, td {
  border-bottom: 1px solid #ddd;
  text-align: center;
  padding: 9px 0;
}

.tableHeader {
  font-weight: bold;
  font-size: 16px;
}

/* "Hits" are the rows in the tables */

.hits {
  font-size: 14px;
}

.pagination {
  float: right;
  border: 1px solid;
  padding: 0 6px;
  color: black;
  margin-top: 10px;
}

.pagination li {
  border-right: 1px solid black;
  padding-right: 10px;
  padding-left: 10px;
}

.pagination li:last-of-type {
  border-right: none;
}

.pagination a {
  color: black;
}

.active {
  background: #f4f3f3;
  font-weight: bold;
}

.fa-question-circle {
  position: absolute;
  top: 6px;
  right: 11px;
  color: #cccccc;
}

.fa-question-circle:hover {
  color: white;
}

.active-page {
  display: inline-block;
  list-style: none;
  padding: .5rem;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
  background: #e5f3f7;
}

.page-button {
  display: inline-block;
  list-style: none;
  padding: .5rem;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
}

.page-button:hover {
  background: #e5f3f7;
}

.review-text-container {
  background: white;
  position: fixed;
  width: 1000px;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -500px;
  border-radius: 10px;
  box-shadow: 1px 2px 7px 0px black;
}

.review-text {
  padding: 1rem;
}

.close {
  margin-right: 1rem;
  font-size: 3rem;
}

.review-modal {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  height: 100%;
  background: grey;
  background-color: #0e0d0d61;
}

/*blocked section******/

.modal-blocked {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  height: 100%;
  background: grey;
  background-color: #0e0d0d61;
  z-index: 6;
}

.blocked-container {
  background: white;
  position: fixed;
  width: 1000px;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -500px;
  z-index: 50;
  border-radius: 10px;
  box-shadow: 1px 2px 7px 0px black;
  max-height: 32rem;
  overflow-x: scroll;
}

.blocked-header {
  padding: .5rem;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  color: white;
  background-color: black;
  position: absolute;
  top: 0;
  width: 100%;
}

.close-blocked {
  top: -5px;
  right: 7px;
  color: white;
  position: absolute;
  top: -3px;
  right: 2px;
  z-index: 1000;
}

.blocked-container p {
  border-bottom: 1px solid lightgray;
  padding: 13px 10px;
}

.blocked-container p:last-of-type {
  border-bottom: none;
}

.blocked-container p:first-of-type {
  margin-top: 66px;
}

.mod-code {
  display: block;
  margin-left: 2rem;
}

.reason-codes {
  display: block;
  margin-left: 1rem;
}

.reason {
  color: #ff1d1d;
}

.blocked-mod {
  color: #ff1d1d;
}
