.app-title {
  display: inline-block;
  margin-bottom: 0;
  color: #444;
}

.logo {
  width: 5%;
}

.title {
  display: inline-block;
  vertical-align: middle;
  margin-left: 1rem;
}

form {
  display: inline-block;
  margin-left: 2rem;
  float: right;
  margin-top: 1.5rem;
}

.product-title {
  margin-bottom: 3rem;
}

.sub-title {
  margin-top: 0;
  font-size: 19px;
  color: #444;
}

.product-info {
  opacity: 1;
  margin-bottom: 20px;
  padding-bottom: 2rem;
  display: inline-block;
  width: 100%;
  margin-left: 2rem;
  transition: .3s ease;
}

.syndication-info {
  opacity: 1;
  width: 100%;
  overflow-x: scroll;
  transition: opacity .3s ease-in-out;
}

.product-name {
  display: inline-block;
  margin-left: 1rem;
  vertical-align: middle;
}

.product-photo {
  max-height: 100px;
  max-width: 100px;
  vertical-align: top;
}

.product-details {
  font-size: 16px;
  margin: 0;
  list-style: none;
  padding: 0;
}

.product-details>li {
  display: inline-block;
}

.product-information {
  display: inline-block;
  margin-left: 2rem;
}

.information-title {
  margin-bottom: 2rem;
  font-size: 20px;
  color: #0084ab;
  border: 1px solid #0084ab;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-top: 0;
  cursor: pointer;
  display: inline-block;
}

.info {
  border-top: 1px solid #d6d6d6;
  margin-top: 0.75rem;
}

.active {
  background: #e5f3f7;
  color: #0084ab;
  transition: .3s ease-in-out;
}

/*source data*/

.source-data {
  display: inline-block;
  width: 28%;
  margin-left: 2rem;
  margin-bottom: 3rem;
}

.source-image {
  width: 18rem;
}

.source-data h3 {
  font-size: 16px;
  margin: 6px;
}

.stp-code {
  margin-right: 6px;
}

.product-buttons {
  margin-top: 1rem;
}
