/*.app-title {
  display: inline-block;
  margin-bottom: 0;
  color: #444;
}

.logo {
  width: 5%;
}

.title {
  display: inline-block;
  vertical-align: middle;
  margin-left: 1rem;
}

.product-title {
  margin-bottom: 3rem;
}

.sub-title {
  margin-top: 0;
  font-size: 19px;
  color: #444;
}

.product-info {
  opacity: 1;
  width: 85%;
  margin-left: 2rem;
  position: absolute;
  transition: .3s ease;
  top: 18rem;
}

.syndication-info {
  opacity: 1;
  position: absolute;
  max-width: 170rem;
  min-width: 122rem;
  width: 93%;
  transition: opacity .3s ease-in-out;
}

.product-name {
  display: inline-block;
  margin-left: 1rem;
  vertical-align: middle;
}

.product-photo {
  max-height: 100px;
  max-width: 100px;
  vertical-align: top;
}

.product-details {
  font-size: 16px;
  margin: 0;
  list-style: none;
  padding: 0;
}

.product-details>li {
  display: inline-block;
}

.product-information {
  display: inline-block;
  margin-left: 2rem;
}

.information-title {
  font-size: 20px;
  color: #0084ab;
  display: inline-block;
  border: 1px solid #0084ab;
  padding: 1rem;
  margin-bottom: 0;
  margin-top: 0;
  cursor: pointer;
  margin-left: 1rem;
  display: inline-block;
}

.info {
  border-top: 1px solid #d6d6d6;
  margin-top: 0.75rem;
}

/*source data*/

/*.source-data {
  display: inline-block;
  width: 30rem;
}

.source-image {
  width: 15rem;
}

.source-data h3 {
  font-size: 16px;
  margin: 6px;
}

.stp-code {
  margin-right: 6px;
}

.slide {
  margin-left: 42rem;
  transition: .3s ease-in-out;
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.product-buttons {
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 0;
  margin-bottom: 2rem;
  padding-left: 1rem;
  margin-top: 3rem;
}

.slick-next:before, .slick-prev:before {
  color: black !important;
}

.familyInfo-block {
  display: inline-block;
}

.family-block {
  position: absolute;
  max-width: 170rem;
  min-width: 122rem;
  width: 93%;
  top: 19rem;
}*/

.code {
  margin-right: 5px;
}

.tiles {
  margin-top: 2rem;
  display: inline-block;
  width: 30%;
  text-align: center;
  box-sizing: border-box;
  background-color: #f4f3f3;
  border-radius: 10px;
  color: black;
  margin-left: 37px;
  vertical-align: top;
  height: 317px;
}

.product-container {
  margin-left: 0;
  margin-right: 12px;
}

.product-title {
  display: block;
  padding: 1rem;
  text-align: center;
  background-color: #65C8CF;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  width: 100%;
}

.product-details {
  font-size: 18px;
  margin: 0;
  text-align: center;
}

.product-photo {
  width: 120px;
  height: 115px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  border: 5px solid #4e577a;
  margin-bottom: 1rem;
  margin-top: 1rem;
  background-color: #f4f3f3;
}

.slick-next:before, .slick-prev:before {
  color: black !important;
}

.syndication-container {
  width: 33%;
  display: inline-block;
  margin-left: 28px;
  background: black;
  background-color: #f4f3f3;
  font-size: 1rem;
  text-align: center;
  color: black;
  border-radius: 10px;
  padding-bottom: 30px;
  vertical-align: top;
  margin-top: 2rem;
}

.syndication-title {
  background-color: #fcb150;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 1rem;
}

.family-title {
  text-align: center;
  padding: 1rem;
  color: white;
  background-color: #C4348A;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.familyInfo-block h1 {
  font-size: 1.5rem;
}

.family-container {
  padding-bottom: 56px;
  margin-left: 44px;
  position: relative;
}

.source-data h3 {
  font-size: 1rem;
}

.slick-slide img {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.slick-prev {
  left: 3px !important;
  z-index: 3;
}

.slick-next {
  right: 3px !important;
  z-index: 3;
}

.syndication-id {
  margin-left: 1rem;
}
