.snapshot-header {
  margin-bottom: 7px;
  font-size: 25px;
  color: #003d4c;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}

.fa-camera {
  margin-left: 8px;
}

.snapshot-container {
  padding: 0;
  list-style: none;
  margin: 0 auto;
  border: 1px solid black;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background: #007c9a;
  color: white;
  box-shadow: -3px 3px 12px 0px black;
}

.snapshot-container>li {
  display: inline-block;
  text-align: center;
  width: 25%;
  box-sizing: border-box;
  border-right: 1px solid white;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
}

.snapshot-container>li:last-of-type {
  border-right: none;
}

.snap-main {
  border-bottom: 1px solid white;
}

.main-number {
  font-size: 4rem;
  padding-top: 1.5rem;
  margin-bottom: 0;
  margin-top: 0;
  transition: .3s ease-in-out;
}

.snap-main:hover {
  background: #003860;
}

.main-label {
  margin-top: 0;
  font-size: 1.5rem;
}

.secondary-container {
  display: inline-block;
  width: 50%;
  border-right: 1px solid white;
  box-sizing: border-box;
}

.secondary-container:last-child {
  border-right: none;
  background-color: #be3434;
}

.secondary-number {
  margin-bottom: 0;
}

.secondary-label {
  margin-top: 0;
  font-size: 13px;
}

.family-title {
  margin-top: 16px;
  margin-bottom: 5px;
}

.family-id {
  margin-top: 12px;
}

.total-main {
  padding-bottom: 26px;
  transition: .3s ease-in-out;
}

.total-main:hover {
  background: #003860;
}

.total-number {
  font-size: 6rem;
  margin: 0;
  padding-top: 4rem;
}

.total-label {
  font-size: 1.5rem;
  margin-top: .5rem;
  padding-bottom: -2rem;
  margin-bottom: 0rem;
  display: block;
}

.total-container {
  vertical-align: top;
  margin-top: 3rem;
}

.fa-pulse {
  line-height: 187px;
}
