.snapshot-header {
  margin-bottom: 2rem;
  font-size: 25px;
  color: #444;
  font-weight: bold;
  font-size: 30px;

}

.fa-camera {
  margin-left: 8px;
}

.snapshot-container {
  padding: 0;
  list-style: none;
  margin: 0 auto;
  border: 1px solid #0084ab;
  /*border-top-right-radius: 10px;
  border-top-left-radius: 10px;*/
  color: #0084ab;
  box-shadow: -3px 3px 12px 0px #888;
}

.snapshot-container>li {
  display: inline-block;
  text-align: center;
  width: 25%;
  box-sizing: border-box;
  border-right: 1px solid #0084ab;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
  background: rgb(245, 247, 248);
}

.snapshot-container>li:last-of-type {
  border-right: none;
}

.snap-main {
  border-bottom: 1px solid #0084ab;
  transition: .3s ease-in-out;
}

.main-number {
  font-size: 4rem;
  padding-top: .5rem;
  margin-bottom: 0;
  margin-top: 0;
  transition: .3s ease-in-out;
}

.snap-main:hover {
  background: #e5f3f7;
}

.main-label {
  margin-top: 0;
  font-size: 1.5rem;
}

.secondary-container {
  display: inline-block;
  width: 50%;
  border-right: 1px solid white;
  box-sizing: border-box;
}

.secondary-container:last-child {
  border-right: none;
  background-color: #ab3900;
  color: #fff;
}

.secondary-number {
  margin-bottom: 0;
  margin-top: 25px;
}

.secondary-label {
  margin-top: 0;
  font-size: 13px;
}

.family-title {
  margin-top: 11px;
  margin-bottom: 5px;
}

.family-id {
  margin-top: 12px;
}

.total-main {
  padding-bottom: 35px;
  transition: .3s ease-in-out;
}

.total-main:hover {
  background: #e5f3f7;
}

.total-number {
  font-size: 6rem;
  margin: 0;
  padding-top: 23px;
  padding-bottom: 0rem;
}

.total-label {
  font-size: 1.5rem;
  margin-top: .5rem;
  margin-bottom: 0rem;
  display: block;
}

.total-container {
  vertical-align: top;
  margin-top: 3rem;
}

.fa-pulse {
  line-height: 187px;
}
