.snapshot-header {
  font-size: 30px;
  padding: 1rem;
  margin-top: 0;
  margin-bottom: 0;
}

/*GRID LAYOUT***/

.snap-container {
  color: white;
  display: grid;
  grid-template-columns: repeat(4, [col] 1fr);
  grid-template-rows: [row] auto;
  box-shadow: -1px 12px 20px 0px lightgrey;
  color: black;
  border-radius: 10px;
}

.snap-details {
  display: grid;
  grid-template-columns: repeat(2, [col] 1fr);
  border: 1px solid #d6d6d6;
  align-items: stretch;
}

.main {
  grid-column: col / span 2;
  text-align: center;
  align-self: stretch;
  border-bottom: 1px solid black;
  padding-top: 1rem;
  background-color: #f4f3f3;
  cursor: pointer;
  border-top-left-radius: 10px;
}

.main:hover {
  background-color: #e6e6e6;
}

.main h2 {
  font-size: 1rem;
}

.sub-one {
  align-self: stretch;
  text-align: center;
  padding-top: 1rem;
  border-right: 1px solid #d6d6d6;
  background-color: #f4f3f3;
  cursor: pointer;
}

.sub-one p {
  padding-top: 6px;
  padding-bottom: 8px;
}

.sub-one:hover {
  background: #e6e6e6;
}

.sub-one h4 {
  font-size: 1rem;
}

.sub-two {
  align-self: stretch;
  text-align: center;
  padding-top: 1rem;
  font-size: 1rem;
  background-color: #f4f3f3;
  cursor: pointer;
}

.sub-two p {
  padding-top: 6px;
  padding-bottom: 8px;
}

.sub-two:hover {
  background: #e6e6e6;
}

.sub-two h4 {
  font-size: 1rem;
}

.sub-main {
  align-self: stretch;
  text-align: center;
  grid-column: col / span 2;
  padding-top: 27px;
  padding-bottom: 16px;
  background-color: #f4f3f3;
  cursor: default;
}

.sub-main h4 {
  font-size: 1rem;
}

.sub-main:hover {
  background: #f4f3f3;
}

.total {
  display: inline-block;
  text-align: center;
  padding-top: 2rem;
  background-color: #f4f3f3;
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.total h2 {
  font-size: 1.5rem;
}

.total:hover {
  background: #e6e6e6;
}

.fa-pulse {
  line-height: 187px;
}

.native {
  border-bottom: 2px solid #65C8CF;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.native-top {
  border-bottom: 2px solid #65C8CF;
}

.native-bottom {
  border-bottom-left-radius: 10px;
}

.syndicated {
  border-bottom: 2px solid #F5A623;
}

.family {
  border-bottom: 2px solid #a63ce8;
  cursor: default;
}

.family:hover {
  background: #f4f3f3;
}

.svg-box {
  width: 34px;
  margin: auto;
  fill: #23af00;
  transition: .3s;
}

.beaker-hidden {
  position: relative;
  z-index: 5;
  width: 0;
  height: 0;
  transform: .3s;
}
