.tabs {
  padding: 0;
  list-style: none;
}

.tabs>li {
  font-size: 20px;
  color: #0084ab;
  display: inline-block;
  border: 1px solid #0084ab;
  padding: 1rem;
  margin-bottom: 0;
  margin-top: 0;
  cursor: pointer;
  display: inline-block;
}

.tab-active {
  background: #e5f3f7;
  color: #0084ab;
  transition: .6s ease-in-out;
  border-bottom: none;
}

.tab-active:first-of-type {
  box-shadow: 1px -1px 0.5px 0px #00000040;
}

.tab-active:last-of-type {
  box-shadow: -0.5px 0px 0.5px #00000040;
}
